<div id="about-section" class="dzsparallaxer auto-init height-is-based-on-content use-loading" data-options='{direction: "reverse", settings_mode_oneelement_max_offset: "150"}'>
  <div class="divimage dzsparallaxer--target w-100 g-bg-size-cover g-bg-img-hero g-bg-cover g-bg-black-opacity-0_7--after" style="height: 130%; background-image: url(<%= image_url 'Candela_show_woman.jpg' %>);"></div>
  <div class="container g-pt-100">
    <!-- Heading -->
    <div class="g-max-width-550 text-center mx-auto g-mb-100">
      <h1 class="h3 mb-5">Biografía</h1>
      <p class="g-font-size-18">Candela, o más bien, Carla Gonzales-Mogaburu, nació en Lima y llego a Chile en el año 2010. Su primera aparición en televisión se dio al año siguiente en el programa "Elígeme" de Megavisión, en donde era una de las solteras que buscaba pololo. </p>
      <p class="g-font-size-18">Luego, tuvo la oportunidad de participar en la teleserie "La Doña" de Chilevisión, estación que luego le daría un pequeño rol en "Infieles", en el capítulo "El socavón". Paralelamente, tuvo varias intervenciones en la grabación de la teleserie "Maldita" de Megavisión y en distintas recreaciones de matinales.</p>
      <p class="g-font-size-18">Pero su buena actuación en "Infieles" tuvo su recompensa cuando le tocó asumir el papel protagónico del capítulo "El Desalojo", uno de lo primeros de la temporada 2012, donde interpretó a una coqueta colombiana que desataba los deseos de un panadero. Luego de ello, fue llamada a participar en varios sketchs del "Club de la Comedia" (Chilevisión) y a intervenir en un capítulo de "La Dimensión Rossa" de Televisión Nacional de Chile, canal que también la consideró para las grabaciones de la serie "El remplazante".</p>
      <p class="g-font-size-18">Lo ultimo realizado es la participación como modelo y en rutina de "Sábados Gigantes LA GALA" Además, su belleza y su rostro han sido parte de anuncios comerciales de TV, como uno de los spots de la campaña "El último verano del mundo" de "Cerveza Cristal".</p>
      <p class="g-font-size-18">También en el mundo de los videos clips ha visto su irrupción el año 2012, en las últimas producciones de "Pata 'e cumbia", "de fuga" y "Mambo sour".</p>
      <p class="g-font-size-18">Paralelamente, Carla ha seguido su camino de perfeccionamiento en las artes en la Academia de canto de Verónica Villarroel (la prestigiosa soprano chilena) y la Academia de actuación de Fernando González (cuna de varias de las figuras de la TV actual).</p>
    </div>
    <!-- End Heading -->
  </div>
</div>
