<section class="g-bg-red-lineargradient g-color-white g-pa-40">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 align-self-center">
        <h2 class="h4 text-uppercase g-font-weight-500 g-mb-20 g-mb-0--lg g-color-white">Reserva tu show
          <strong class="g-color-black">Ahora</strong></h2>
      </div>

      <div class="col-lg-8 align-self-center">
        <form class="" action="index.html" method="post">
          <div class= "row">
            <div class="col-md-3">
              <label class="input-group g-brd-primary--focus g-rounded-3 g-mb-0--md">
                <input class="form-control g-brd-right-none" type="text" placeholder="Tú nombre">
                <div class="input-group-addon g-bg-white">
                  <i class="fa fa-user"></i>
                </div>
              </label>
            </div>

            <div class="col-md-3">
              <label class="input-group g-brd-primary--focus g-rounded-3 g-mb-0--md">
                <input class="form-control g-brd-right-none" type="text" placeholder="Tú teléfono">
                <div class="input-group-addon g-bg-white">
                  <i class="fa fa-phone"></i>
                </div>
              </label>
            </div>

            <div class="col-md-3">
              <label class="input-group g-brd-primary--focus g-rounded-3 g-mb-0--md">
                <input class="form-control g-brd-right-none" type="email" placeholder="Tú email">
                <div class="input-group-addon g-bg-white">
                  <i class="fa fa-envelope-o"></i>
                </div>
              </label>
            </div>

            <div class="col-md-3">
              <button class="btn btn-block btn-md u-btn-black text-uppercase g-font-size-12 g-font-weight-600 g-rounded-5" type="submit">Reserva Ahora</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
