<!-- Services -->
<div id="services-section" class="g-bg-secondary g-py-100">
  <div class="container">
    <div class="g-pt-100 g-pb-70">
      <!-- Heading -->
      <div class="g-max-width-550 text-center mx-auto g-mb-100">
        <div class="d-inline-block g-width-60 g-height-2 g-bg-secondary-light-v1 mb-3"></div>
        <h2 class="h3">Show Burlesque o Show Latino, de una impecable calidad junto a su cuerpo de baile.</h2>
      </div>
      <!-- End Heading -->

      <!-- Vision & Mission -->
      <div class="g-pos-rel">
        <div class="row justify-content-between">
          <div class="col-lg-5 g-mb-30">
            <div class="g-mt-20 mb-5">
              <h2 class="mb-4">Presentación del show</h2>
              <p class="g-line-height-2">Candela realiza dos tipos de presentaciones, su espectáculo esta concebido junto a sus dos bailarines, con quienes interpreta cantando y bailando, ritmos de cabaret y ritmos latinos.</p>
              <p class="g-line-height-2">Aunque su acento esta en los musicales estilo Cabaret, donde el blues y el jazz se funden con el baile y la sensualidad que ella posee de manera innata.</p>
              <p class="g-line-height-2">También, Candela puede agregar a sus dos bailarinas para desarrollar un show aún mas completo.</p>
            </div>
          </div>
        </div>

        <div class="col-lg-6 g-pos-abs--lg g-top-0--lg g-right-0--lg g-mb-30">
          <img class="w-100 g-width-auto--lg" src="<%= image_url 'candela_show_woman_servicios.jpg'%>" alt="Servicios Candela Show Woman">
        </div>
      </div>
      <!-- End Vision & Mission -->
    </div>
  </div>
</div>
<!-- End Services -->
