<div id="services-section" class="container g-bg-secondary g-py-70">
  <div class="g-pb-70">
    <!-- Heading -->
    <div class="g-max-width-550 text-center mx-auto g-mb-100">
      <div class="d-inline-block g-width-60 g-height-2 g-bg-secondary-light-v1 mb-3"></div>
      <h2 class="h3">Show Latin Fusion, de una impecable calidad junto a su cuerpo de baile.</h2>
    </div>
    <!-- End Heading -->

    <!-- Vision & Mission -->
    <div class="g-pos-rel">
      <div class="row justify-content-between">
        <div class="col-lg-5 g-mb-30">
          <div class="g-mt-20 mb-5">
            <h2 class="mb-4">Presentación del show</h2>
            <p class="g-line-height-2">Candela Showoman es una artista que posee el don de transmitir alegría y diversión a quienes tienen la oportunidad de deleitarse y disfrutar de su música, sus canciones y shows.</p>
            <p class="g-line-height-2">Candela presenta un show de una fusión de ritmos latinos y también rescata la sensualidad de los musicales estilo Cabaret.</p>
            <p class="g-line-height-2">La alegría es lo que más resalta en las canciones de Candela y en el escenario, además de un show lleno de mucha sensualidad y glamour.</p>
          </div>
        </div>
      </div>

      <div class="col-lg-6 g-pos-abs--lg g-top-0--lg g-right-0--lg g-mb-30">
        <img class="w-100 g-width-auto--lg" src="<%= image_url 'candela_show_woman_servicios.jpg'%>" alt="Servicios Candela Show Woman">
      </div>
    </div>
    <!-- End Vision & Mission -->
  </div>
</div>
