<div id="services-section" class="container g-bg-red-lineargradient g-py-70">
  <div class="g-pb-70">
    <!-- Heading -->
    <div class="g-max-width-550 text-center mx-auto g-mb-100">
      <div class="d-inline-block g-width-60 g-height-2 g-bg-secondary-light-v1 mb-3"></div>
      <h2 class="h3 g-color-white">Show Latin Fusion y Cabaret, de una impecable calidad junto a su cuerpo de baile.</h2>
    </div>
    <!-- End Heading -->

    <!-- Vision & Mission -->
    <div class="g-pos-rel">
      <div class="row justify-content-between">
        <div class="col-lg-5 g-mb-30">
          <div class="g-mt-20 mb-5">
            <h2 class="mb-4 g-color-white">Presentación del show</h2>
            <p class="g-line-height-2 g-color-white">Candela Showoman es una artista que posee el don de transmitir alegría y diversión a quienes tienen la oportunidad de deleitarse y disfrutar de su música, sus canciones y shows.</p>
            <p class="g-line-height-2 g-color-white">Candela presenta un show de una fusión de ritmos latinos y también rescata la sensualidad de los musicales estilo Cabaret.</p>
            <p class="g-line-height-2 g-color-white">La alegría es lo que más resalta en las canciones de Candela y en el escenario, además de un show lleno de mucha sensualidad y glamour.</p>
          </div>
          <!-- call to action -->
          <div class="row">
            <div class="col-lg-12 align-self-center">
              <h2 class="h4 text-uppercase g-font-weight-500 g-mb-20 g-mb-0--lg g-color-white">Reserva tu show
                <strong class="g-color-black">Ahora</strong></h2>
            </div>

            <div class="col-lg-12 align-self-center">
              <form class="" action="index.html" method="post">
                <div class= "row">
                  <div class="col-md-12">
                    <label class="input-group g-brd-primary--focus g-rounded-3 g-mb-0--md">
                      <input class="form-control g-brd-right-none" type="text" placeholder="Tú nombre">
                      <div class="input-group-addon g-bg-white">
                        <i class="fa fa-user"></i>
                      </div>
                    </label>
                  </div>

                  <div class="col-md-12">
                    <label class="input-group g-brd-primary--focus g-rounded-3 g-mb-0--md">
                      <input class="form-control g-brd-right-none" type="text" placeholder="Tú teléfono">
                      <div class="input-group-addon g-bg-white">
                        <i class="fa fa-phone"></i>
                      </div>
                    </label>
                  </div>

                  <div class="col-md-12">
                    <label class="input-group g-brd-primary--focus g-rounded-3 g-mb-0--md">
                      <input class="form-control g-brd-right-none" type="email" placeholder="Tú email">
                      <div class="input-group-addon g-bg-white">
                        <i class="fa fa-envelope-o"></i>
                      </div>
                    </label>
                  </div>

                  <div class="col-md-12">
                    <button class="btn btn-block btn-md u-btn-black text-uppercase g-font-size-12 g-font-weight-600 g-rounded-5" type="submit">Reserva Ahora</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
          <!-- end call to action -->
        </div>
      </div>

      <div class="col-lg-6 g-pos-abs--lg g-top-0--lg g-right-0--lg g-mb-30">
        <img class="w-100 g-width-auto--lg" src="<%= image_url 'candela_show_woman_servicios.jpg'%>" alt="Servicios Candela Show Woman">
      </div>
    </div>
    <!-- End Vision & Mission -->
  </div>
</div>
