<div class="container g-pt-70 g-pb-100">
  <div id="carouselCus1" class="js-carousel g-px-50 g-px-200--lg"
       data-infinite="true"
       data-arrows-classes="u-arrow-v1 g-absolute-centered--y g-width-45 g-height-45 g-font-size-30 g-color-main-light-v1 g-color-primary--hover"
       data-arrow-left-classes="fa fa-angle-left g-left-0 g-left-40--lg g-mt-minus-50"
       data-arrow-right-classes="fa fa-angle-right g-right-0 g-right-40--lg g-mt-minus-50"
       data-nav-for="#carouselCus2">

    <div class="js-slide text-center">
      <blockquote class="g-color-text g-font-size-default g-font-size-18--md g-mb-60">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit.</blockquote>
        <h4 class="g-font-weight-700 g-font-size-15 g-mb-1">Francisco Melo</h4>
        <span class="d-block g-color-text g-font-size-13">Productor MEGA</span>
    </div>

    <div class="js-slide text-center">
      <blockquote class="g-color-text g-font-size-default g-font-size-18--md g-mb-60">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.</blockquote>
        <h4 class="g-font-weight-700 g-font-size-15 g-mb-1">Bastian B.</h4>
        <span class="d-block g-color-text g-font-size-13">Productor TVN</span>
    </div>

    <div class="js-slide text-center">
      <blockquote class="g-color-text g-font-size-default g-font-size-18--md g-mb-60">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.</blockquote>
      <h4 class="g-font-weight-700 g-font-size-15 g-mb-1">Alex Pacheco</h4>
        <span class="d-block g-color-text g-font-size-13">Adquisiciones las Escondida</span>
    </div>

    <div class="js-slide text-center">
      <blockquote class="g-color-text g-font-size-default g-font-size-18--md g-mb-60">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</blockquote>
        <h4 class="g-font-weight-700 g-font-size-15 g-mb-1">Felipe Camus</h4>
        <span class="d-block g-color-text g-font-size-13">Productora En El Blanco</span>
    </div>
  </div>
  <!-- End Carousel -->
</div>
