<!-- Section Content -->
<section id="videos" class="u-bg-overlay g-bg-img-hero g-bg-attachment-fixed g-bg-black-opacity-0_6--after g-pt-100" style="background-image: url(<%= image_url "porfolio/Candela-showvivo_1.jpg" %>);">
  <div class="js-carousel container u-bg-overlay__inner g-pb-140"
       data-pagi-classes="u-carousel-indicators-v1--white g-absolute-centered--x g-bottom-40 text-center">
    <div class="js-slide g-py-20">
      <div class="container text-center g-max-width-570">
        <h2 class="text-uppercase g-font-weight-700 g-font-size-18 g-font-size-26--md g-mb-20">
          <a class="js-fancybox-media g-parent g-color-white g-text-underline--none--hover"   href="https://www.youtube.com/Z7dyVtBPpMs"
             data-open-effect="fadeIn"
             data-close-effect="fadeOut"
             data-open-speed="1000"
             data-close-speed="1000">
              Mi Candela<span class="hidden-md-up"><br></span>
              <span class="u-icon-v2 g-width-60 g-height-60 g-font-size-default g-color-white align-middle g-bg-transparent g-bg-primary--parent-hover g-brd-around g-brd-5 g-brd-primary g-rounded-50x g-mx-20 g-transform-scale-1_2--parent-hover">
              <i class="fa fa-play"></i>
              </span>
              <span class="hidden-md-up"><br></span>video oficial
          </a>
        </h2>

        <p class="g-mb-30 g-color-white">"Mi Candela" es su primer single en ritmo afroperuano denominado "festejo" que está incluído en su primer disco el cual se lanzará próximamente. Disfrútenla!</p>
        <!-- <a class="text-uppercase g-font-weight-700 g-font-size-11 g-color-primary" href="#">View on iTunes</a> -->
      </div>
    </div>
  </div>
</section>
<!-- End Section Content -->
