<!-- <section id="videos" class="u-bg-overlay g-bg-img-hero g-bg-attachment-fixed g-bg-black-opacity-0_6--after g-pt-100" style="background-image: url(<%= image_url "porfolio/Candela-showvivo_1.jpg" %>);"> -->
<div id="videos" class="dzsparallaxer auto-init height-is-based-on-content use-loading"      data-options='{direction: "reverse", settings_mode_oneelement_max_offset: "150"}'>

  <div class="divimage dzsparallaxer--target w-100 g-bg-size-cover g-bg-img-hero g-bg-cover g-bg-black-opacity-0_7--after" style="height: 130%; background-image: url(<%= image_url 'porfolio/Candela-showvivo_1.jpg' %>);"></div>

  <!-- <div class="js-carousel container u-bg-overlay__inner g-pb-140" data-pagi-classes="u-carousel-indicators-v1--white g-absolute-centered--x g-bottom-40 text-center"> -->
  <div class="container g-py-200">
    <!-- <div class="js-slide g-py-20"> -->
      <div class="container text-center g-max-width-570">
        <h2 class="text-uppercase g-font-weight-700 g-font-size-18 g-font-size-26--md g-mb-20">
          <a class="js-fancybox-media g-parent g-color-white g-text-underline--none--hover"   href="https://www.youtube.com/Z7dyVtBPpMs"
             data-open-effect="fadeIn"
             data-close-effect="fadeOut"
             data-open-speed="1000"
             data-close-speed="1000">
              Mi Candela<span class="hidden-md-up"><br></span>
              <span class="u-icon-v2 g-width-60 g-height-60 g-font-size-default g-color-white align-middle g-bg-transparent g-bg-primary--parent-hover g-brd-around g-brd-5 g-brd-primary g-rounded-50x g-mx-20 g-transform-scale-1_2--parent-hover">
              <i class="fa fa-play"></i>
              </span>
              <span class="hidden-md-up"><br></span>video oficial
          </a>
        </h2>

        <p class="g-mb-30 g-color-white g-font-size-18">"Mi Candela" es su primer single en ritmo afroperuano denominado "festejo" que está incluído en su primer disco el cual se lanzará próximamente. Disfrútenla!</p>
        <!-- <a class="text-uppercase g-font-weight-700 g-font-size-11 g-color-primary" href="#">View on iTunes</a> -->
      </div>
    <!-- </div> -->
  </div>
</div>
<!-- </section> -->
