<!--=== Error V7 ===-->

<div class="error-bg">
<div class="container">
<div class="row">
              <!--Error Block-->

            <div class="col-md-8 col-md-offset-2">
              <div class="error-v7">
                <h1>Esto es un error!</h1>
                <span class="sorry">El documento solicitado no fue encontrado en este servidor. Eso es todo lo que sabemos.</span>
                <strong class="h1">404</strong>
              </div>

        </div><!--/container-->
      </div><!--/error-bg-->
      <!--End Error Block-->
    </div>

</div>
