<!-- Contact -->
<footer id="contact-section" class="g-pos-rel">
  <!-- Content -->
  <div class="g-bg-size-cover g-bg-img-hero g-bg-cover g-bg-black-opacity-0_7--after g-pt-120 g-pb-70" style="background-image: url(<%= image_url 'footer.jpg' %>);">
    <div class="container g-z-index-1">
      <div class="row align-items-center">
        <div class="col-md-4 g-mb-50">
          <h3 class="h4 g-color-white mb-4">Información de Contacto</h3>

          <!-- Icon Block -->
          <div class="media align-items-center mb-4">
            <div class="d-flex">
              <span class="u-icon-v1 u-icon-size--sm g-color-white mr-2">
                <i class="icon-hotel-restaurant-235 u-line-icon-pro"></i>
              </span>
            </div>
            <div class="media-body">
              <p class="g-color-white-opacity-0_6 mb-0">Santiago, Chile</p>
            </div>
          </div>
          <!-- End Icon Block -->

          <!-- Icon Block -->
          <div class="media align-items-center mb-4">
            <div class="d-flex">
              <span class="u-icon-v1 u-icon-size--sm g-color-white mr-2">
                <i class="icon-communication-033 u-line-icon-pro"></i>
              </span>
            </div>
            <div class="media-body">
              <p class="g-color-white-opacity-0_6 mb-0">+56 9 3333 4444</p>
            </div>
          </div>
          <!-- End Icon Block -->

          <!-- Icon Block -->
          <div class="media align-items-center g-mb-60">
            <div class="d-flex">
              <span class="u-icon-v1 u-icon-size--sm g-color-white mr-2">
                <i class="icon-communication-062 u-line-icon-pro"></i>
              </span>
            </div>
            <div class="media-body">
              <p class="g-color-white-opacity-0_6 mb-0">micorreo@midominio.com</p>
            </div>
          </div>
          <!-- End Icon Block -->

          <!-- Social Icons -->
          <h3 class="h4 g-color-white">Redes Sociales</h3>

          <ul class="list-inline mb-0">
            <li class="list-inline-item g-mx-2">
              <a class="u-icon-v1 u-icon-size--sm g-color-white g-bg-white-opacity-0_1 g-bg-primary--hover g-font-size-13 rounded-circle"  target="_blank" href="https://www.facebook.com/carlitacandelashowoman/">
                <i class="fa fa-facebook"></i>
              </a>
            </li>
            <li class="list-inline-item g-mx-2">
              <a class="u-icon-v1 u-icon-size--sm g-color-white g-bg-white-opacity-0_1 g-bg-primary--hover g-font-size-13 rounded-circle"  target="_blank" href="https://twitter.com/CandelaShowoman">
                <i class="fa fa-twitter"></i>
              </a>
            </li>

            <li class="list-inline-item g-mx-2">
              <a class="u-icon-v1 u-icon-size--sm g-color-white g-bg-white-opacity-0_1 g-bg-primary--hover g-font-size-13 rounded-circle" target="_blank" href="https://www.instagram.com/candelashowoman/">
                <i class="fa fa-instagram"></i>
              </a>
            </li>
            <li class="list-inline-item g-mx-2">
              <a class="u-icon-v1 u-icon-size--sm g-color-white g-bg-white-opacity-0_1 g-bg-primary--hover g-font-size-13 rounded-circle" target="_blank" href="https://www.youtube.com/channel/UC7wOqRMHMVAYlL62Cltgjzw">
                <i class="fa fa-youtube"></i>
              </a>
            </li>
          </ul>
          <!-- End Social Icons -->
        </div>
        <!-- Contact Form -->
        <%= render 'common/form_contact' %>
        <!-- End Contact Form -->
      </div>
    </div>
  </div>
  <!-- End Content -->

  <!-- Go To Top -->
  <a class="js-go-to text-center g-color-main g-color-primary--hover g-left-50x g-ml-minus-100" href="#"
     data-type="absolute"
     data-position='{
       "bottom": 65
     }'
     data-offset-top="400"
     data-compensation="#js-header"
     data-show-effect="fadeInUp">
    <svg version="1.1" preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="208px" height="50px">
      <path fill-rule="evenodd" clip-rule="evenodd" fill="#fff" d="M111.042,0h-0.085C81.962,0.042,50.96,42.999,6,42.999c-6,0-6,0-6,0v1h214v-1v-0.015C169.917,42.349,139.492,0.042,111.042,0z"/>
    </svg>
    <i class="g-font-size-20 g-pos-abs g-bottom-20 g-left-50x g-ml-2 fa fa-angle-double-up"></i>
  </a>
  <!-- End Go To Top -->

  <!-- Copyright -->
  <div class="container text-center g-py-30">
    <p class="g-font-size-13 mb-0">&#169; 2017 Candela Show Woman.</p>
  </div>
  <!-- End Copyright -->
</footer>
<!-- End Contact -->
