<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html"; charset="utf-8">
    <title>formulario de contacto</title>
    <style type="text/css">
    body, td { color:#000000; font-size:14px; font-family:Verdana,Helvetica,Arial; }
    .divider { background-color:#555555; height:2px; }
    #footer { font-size:11px; color:#555555; }
    #footer a { color:#555555;}
    </style>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
